/* Overall Application Styles: Affects the entire app */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
    text-align: center;
    padding: 20px;
  }
  
  .app-text {
    color: purple;
  }